<nav id="header" class="navbar navbar-static-top navbar-inverse">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
            <ul class="nav navbar-nav navbar-right acme-navbar-text">
                <li>Wunchlisten</li>
                <li>EUR</li>
                <li>Service</li>
            </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4"><h1>DemoShop</h1></div>
            <div class="col-md-4 text-center"><input type="text" class="form-control" placeholder="Search"></div>
            <div class="col-md-4 text-right">
                <button class="btn"><i class="glyphicon glyphicon-heart"></i></button>
                <button class="btn">Main Kontro</button>
                <button class="btn">cart</button>
            </div>
        </div>
        <div class="row">
            <ul class="menu nav navbar-nav navbar-left">
                <li>Home</li>
                <li>Hohenluft & Abenteuer</li>
                <li>Kochlust & Provence</li>
                <li>Handwerk & Tradition</li>
                <li>Specials & Sale</li>
                <li>Blog</li>
            </ul>
        </div>
    </div>
</nav>
