#header {
  background: #fff;
  border-color: #dd430d;
  color: #41505c;

  input {
    background: #f6f6f6;
  }

  .clock {
    display: inline-block;
    background: #e9e9f1;
    padding: 5px;
    margin: 0;
    color: #dd430d;
  }

  .glyphicon-search {
    position: absolute;
    right: 25px;
    font-size: 18px;
    top: 8px;
    color: #777;
  }

  .btn {
    margin-left: 10px;
    background: #f6f6f6;
    border: 1px solid #ccc;
  }

  .wishlist {
    position: relative;
    .badge {
      position: absolute;
      background: #fff;
      color: #dd430d;
      border: 1px solid #777;
      right: -10px;
      top: -6px;
    }
  }

  .cart {
    color: #dd430d;
  }

  ul {
    li {
      margin: 10px 10px;
      cursor: pointer;
    }
  }

  ul.menu {
      li {
        margin: 0px;
        padding: 5px 10px;
        font-size: 18px;
        color: #777;
      }

    li:hover, li.active {
      background: #dd430d;
      color: #fff;
      border-radius: 5px 5px 0px 0px;
      cursor: pointer;
    }
  }

  h1 {
    margin-top: 0px;
    span {
      color: #688596;
    }
  }

  .wish {
    margin-bottom: 0;
  }
}