<nav id="header" class="navbar navbar-static-top navbar-inverse">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-right">
                <p class="clock"><i class="glyphicon glyphicon-time"></i> {{ navbar.clock | date:'HH:mm:ss'}}</p>
            </div>
            <div class="col-md-12">
                <ul class="nav navbar-nav navbar-right acme-navbar-text">
                    <li><i class="glyphicon glyphicon-list-alt"></i> Wunchlisten</li>
                    <li><i class="glyphicon glyphicon-euro"></i> EUR <i class="glyphicon glyphicon-menu-down"></i></li>
                    <li><i class="glyphicon glyphicon-question-sign"></i> Service/Hilfe <i class="glyphicon glyphicon-menu-down"></i></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4"><h1>DemoShop</h1></div>
            <div class="col-md-4 text-center"><input type="text" class="form-control" placeholder="Search"></div>
            <div class="col-md-4 text-right">
                <button class="btn"><i class="glyphicon glyphicon-heart"></i></button>
                <button class="btn">Main Kontro</button>
                <button class="btn">cart</button>
            </div>
        </div>
        <div class="row">
            <ul class="menu nav navbar-nav navbar-left">
                <li>Home</li>
                <li>Hohenluft & Abenteuer</li>
                <li>Kochlust & Provence</li>
                <li>Handwerk & Tradition</li>
                <li>Specials & Sale</li>
                <li>Blog</li>
            </ul>
        </div>
    </div>
</nav>
